@charset "UTF-8";
@font-face {
    font-family: "Love Loves";
    src: url("../../../fontes/LoveLoves/Lover\ Loves.ttf") format("truetype");
}
@font-face {
    font-family: "Love Match";
    src: url("../../../fontes/LoveMatch/LoveMatch.otf") format("opentype");
}
body{ 
    background-image: url('../../imagens/fundo_coração.png');
    background-color: #61CDFF;
}
h1{
    font: normal 2em "Love Match";
    text-align: center;
    color: #fff;
}
h2{
    font: normal 2em "Love Loves";
    margin-left: 15%;
    color: #ff7a8c;
}
h3{
    font: normal 25px "Love Loves";
    margin-left: 5%;
    margin-top: -2%;
    color: black;
}
a{
    color: #fff;
}
p{
    font: normal 25px "Love Loves";
    text-justify: auto;
}
header{
    background-color: #ff7a8c;
    border-radius: 10px;
}
.topico{                       /*Bordas dos h2*/
    background-color: #fff;
    width: 20%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}
@media screen and (max-width: 600px) { /*Tela de Celular*/
    .topico{
        width: 250px;
        text-align: center;
    }
}
.introducao{
    max-width: 1250px;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    padding: 1px 0;
    /*display: flex;
    flex-wrap: nowrap;*/
}
@media screen and (max-width: 600px) { /*Tela de Celular*/
    .paragrafo{
        width: 400px;
        background-color: #fff;
        margin: auto;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        color: #000;
    }
}
@media screen and (max-width: 600px) { /*Tela de Celular*/
    .capitulos{
        width: 450px;
        background-color: #ff7a8c;
        margin: auto;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        color: #000;
        text-align: center;
    }
}